.wrapper {
  width: 1680px;
  margin: 0 auto;
}

.bookData-container {
  display: flex;
  width: 80%;
  /* justify-content: space-between; */
}

.book-container {
  list-style-type: none;
  border: 1px solid grey;
  padding: 20px;
  margin: 0px 10px;
}

.book-container:hover {
  border: 1px solid blue;
}
